<div id="main-content" class="container">

  <div class="flex-container">

    <%- include('_aside'); %>

    <div style="margin-left: 10px;">
      <h1>Deposit Page</h1>
            
        <form action="/user/money/deposit-money/<%= user._id %>" method="POST">
                
          <input class="inp" name = "amount" type="number" placeholder="Enter amount">
          <input class="inp" type="submit">
  
        </form>
  
    </div>
  
  </div>

</div>