<div id="main-content" class="container">

    <h1>Account Details</h1>

    <ul>
        <li>
            <h4> Account Number : <%=user.account_number%></h4>
        </li>

        <li>
            <h4> Name : <%=user.name%></h4>
        </li>

        <li>
            <h4> Email id : <%=user.email%></h4>
        </li>

        <li>
            <h4> Phone Number Linked : <%=user.phone%></h4>
        </li>

    </ul>

</div>