<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DTU Bank</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="pull-left visible-md visible-lg">
          </a>
          <div class="navbar-brand">
            <a href="/"><h1>Welcome To Dtu Bank</h1></a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="/">
                <br class="hidden-xs">Home</a>
            </li>
            <li>
              <a href="/personal_banking/profile">
                <br class="hidden-xs"> Personal Banking</a>
            </li>
            <li>
              <a href="./corporate_banking.html">
              <br class="hidden-xs"> Corporate Banking</a>
            </li>
            <li>
              <a href="/#blogs">
                <br class="hidden-xs"> Blogs</a>
            </li>
            <li class="visible-xs active">
              <a href="/faq">
                <br class="hidden-xs"> FAQs</a>
            </li>
            <li>
              <a href="tel:+919199110501">
                <br class="hidden-xs"> Contact Us</a></a>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>
  <div id="main-content" class="container">
 
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is Online DTU BANKING?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Online DTU BANKING is the Internet banking service provided by Delhi Technological University, DTU first personalised bank.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">2. What is special about Online DTU banking?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                      DTU Internet banking is the most convenient way to bank- anytime, from any place, at your convenience.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">3. Can I accees DTU Bank on mobile phones ?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        You can access DTU online from any mobile phone tablet just require proper Internet Connection.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">4. How do I access OnlineDTU Banking ?</a>
                  </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                  <div class="panel-body">
                      You just require first to signUp on our website with your valid DTU domain email_id .
                  </div>
              </div>
          </div>
            <div class="faqHeader">Personal banking</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">1. How does Real Time transfer will work?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        It will allow instantaneous transfer of money and instantaneously shows in recievers account.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">2. SMS alert for credit entries not received by customer?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Any customer who signUp with DTU have to verify mobile phone number to get the message about credit and debit.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div><!-- End of #main-content -->

  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-6">
          <span>Hours:</span><br>
          Sun-Sat: 9:00am - 5:00pm<br>
          Saturday Closed
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-6">
          <span>Address:</span><br>
          DELHI TECHNOLOGICAL UIVERSITY NEW DELHI
          <hr class="visible-xs">
        </section>
      </div>
      <div class="text-center">&copy; Copyright Harsh/Danish DTU 2020</div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
