
  <div id="main-content" class="container">
 
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is Online DTU BANKING?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      Online DTU BANKING is the Internet banking service provided by Delhi Technological University, DTU first personalised bank.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">2. What is special about Online DTU banking?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                      DTU Internet banking is the most convenient way to bank- anytime, from any place, at your convenience.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">3. Can I accees DTU Bank on mobile phones ?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        You can access DTU online from any mobile phone tablet just require proper Internet Connection.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">4. How do I access OnlineDTU Banking ?</a>
                  </h4>
              </div>
              <div id="collapseTwelve" class="panel-collapse collapse">
                  <div class="panel-body">
                      You just require first to signUp on our website with your valid DTU domain email_id .
                  </div>
              </div>
          </div>
            <div class="faqHeader">Personal banking</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">1. How does Real Time transfer will work?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        It will allow instantaneous transfer of money and instantaneously shows in recievers account.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">2. SMS alert for credit entries not received by customer?</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Any customer who signUp with DTU have to verify mobile phone number to get the message about credit and debit.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  </div><!-- End of #main-content -->

