<div id="main-content" class="container" style="width: 330px;">
    <form class="text-center form-container border border-light p-5" action="/user/forgot-password-form" method="POST">
        <p class="h4 mb-4">Forgot Password</p>
        <input name= "email"type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" style="margin-bottom: 20px;">
        <button class="btn btn-info btn-block my-4" type="submit"><a>Submit</a></button>
        <div class="forgot_password">
            <!-- Sign In Button-->
            <a href="/user/login">Back to sign in</a>
            <p>or sign in with:</p>

        <a href="#" class="mx-2" role="button"><i class="fa fa-facebook"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fa fa-twitter"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fa fa-google-plus"></i></a>
        </div>
        <hr>
    </form>
</div>