

  <div id="main-content" class="container">
    <div class="flex-container">
      
      <%- include('_partials/_crousel'); %>  

      <hr class="visible-xs">
      <div class="news-section">
        <h3 class="decoration">What's new ?</h3>
        <marquee behavior="scroll" direction="up" scrollamount="3" style="margin: 10px;">
          <p>The total number of daily tests was 60,0014, which was over the 60,000-mark for the third consecutive day.</p>
          <p>Also, 38 more deaths have been reported, taking the total number of deaths to 4,877. This is the highest daily spike in the number of deaths in the two months in the city.</p>
          <p>The number of containment zones jumped to 1,670 on Thursday, the highest till now.</p>
          <p>The total number of daily tests was 60,0014, which was over the 60,000-mark for the third consecutive day.</p>
        </marquee>
      </div>
    </div>
    <div><br>

    </div>
    <br>
    <div class="blogs-heading" id="blogs">
      <h1>BLOGS</h1>
    </div><hr class="divider">
    <div class="row">
      <div class="col-sm-3" style="border-right: 0.2px solid;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DANISH QUASIM</h5>
            <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
            <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
            <hr class="visible-xs">
          </div>
        </div>
      </div>
      <div class="col-sm-3" style="border-right: 0.2px solid;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HARSH GUPTA</h5>
            <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
            <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
            <hr class="visible-xs">
          </div>
        </div>
      </div>
      <div class="col-sm-3" style="border-right: 0.2px solid;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DANISH QUASIM</h5>
            <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
            <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
            <hr class="visible-xs">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HARSH GUPTA</h5>
            <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
            <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
            <hr class="visible-xs">
          </div>
        </div>
      </div>
    </div>
    <!------<div class="row">
      <div class="col-sm-3" style="border-right: 0.2px solid;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DANISH QUASIM</h5>
            <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
            -<a href="#" class="btn btn-primary">Go somewhere</a>
            <hr class="visible-xs">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">HARSH GUPTA</h5>
            <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <hr class="visible-xs">
          </div>
        </div>
      </div>
    </div>---->
    <hr class="divider">
  </div><!-- End of #main-content -->

  