
  <div id="main-content" class="container" style="width: 330px;">
   <!-- Default form login -->
    <form class="text-center form-container border border-light p-5" action="/user/create-session" method="POST">

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input name= "email"type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" style="margin-top: 10px;margin-bottom: 20px;">

        <!-- Password -->
        <input name ="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember" style="margin-top: 20px;">Remember me</label>
                </div>
            </div>
            <div class="forgot_password">
                <!-- Forgot password -->
                <a href="/user/forgot_password">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit"><a href="/user/profile" class="button expanded">Sign in</a></button>

        <!-- Register -->
        <p>Not have an account?
            <a href="/user/sign-up">Open an account </a>
        </p>
        <p>or sign in with:</p>

        <a href="#" class="mx-2" role="button"><i class="fa fa-facebook"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fa fa-twitter"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fa fa-google-plus"></i></a>
        <hr>
    </form>
    <!-- Default form login -->
  </div><!-- End of #main-content -->

 