<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DTU Bank</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="pull-left visible-md visible-lg">
          </a>
          <div class="navbar-brand">
            <a href="/"><h1>Welcome To Dtu Bank</h1></a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href="/">
                <br class="hidden-xs">Home</a>
            </li>
            <li>
              <a href="/user/profile">
                <br class="hidden-xs"> Personal Banking</a>
            </li>
            <li>
              <a href="./corporate_banking.html">
              <br class="hidden-xs"> Corporate Banking</a>
            </li>
            <li>
              <a href="/#blogs">
                <br class="hidden-xs"> Blogs</a>
            </li>
            <li>
              <a href="/faq">
                <br class="hidden-xs"> FAQs</a>
            </li>
            <li>
              <a href="tel:+919199110501">
                <br class="hidden-xs"> Contact Us</a></a>
            </li>
          </ul><!-- #nav-list -->
        </div><!-- .collapse .navbar-collapse -->
      </div><!-- .container -->
    </nav><!-- #header-nav -->
  </header>
  <div id="main-content" class="container" style="width: 330px;">
   <!-- Default form login -->
    <form class="text-center form-container border border-light p-5" action="#!">

        <p class="h4 mb-4">Sign in</p>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" style="margin-top: 10px;margin-bottom: 20px;">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember" style="margin-top: 20px;">Remember me</label>
                </div>
            </div>
            <div class="forgot_password">
                <!-- Forgot password -->
                <a href="/user/forgot_password">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit"><a href="/user/profile">Sign in</a></button>

        <!-- Register -->
        <p>Not have an account?
            <a href="/user/sign-up">Open an account </a>
        </p>
    </form>
    <!-- Default form login -->
  </div><!-- End of #main-content -->

  <footer class="panel-footer">
    <div class="container">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>Hours:</span><br>
          Sun-Sat: 9:00am - 5:00pm<br>
          Saturday Closed
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Contact Form:</span><br>
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Name"><br>
            <br>
            <input class="input-group-field" type="email" placeholder="Email address"><br>
            <br>
            <textarea placeholder="Message"></textarea><br>
          </div>
          <a class="button expanded" href="#">Submit</a>
          <hr class="visible-xs">
        </section>
        <section id="address" class="col-sm-4">
          <span>Contact details:</span><br>
          <a href="tel:+919199110501">919919919</a><br>
          Delhi Technological University, Shahbad Daulatpur<br>
          Main Bawana Road, DL - 42, IN<br>
          New Delhi
          <hr class="visible-xs">
        </section>
      </div>
      <div class="text-center">&copy; Copyright Harsh/Danish DTU 2020</div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
