<div id="main-content" class="container">
   <p>Personal Login Page</p>
   <% if(locals.user) {%>
      <button><a href="/user/sign-out">sign-out</a></button>
      <h1><%= user.account_number %></h1>
    <!-- Write the aside section in here like all the options for user. They will only be visible whwn the user is logged In. -->
    
    <button><a href="/user/create-new-account">Create New Account</a></button>
    
    <button><a href="/user/money/deposit">Deposit Money</a></button>
    
    <button><a href="/user/money/withdraw">Withdraw money</a></button>
    
    <button><a href="/user/money/transfer">Transfer money</a></button>
    
    <button><a href="/user/recent-transactions">Recent Transactions</a></button>
    
    <button><a href="/user/account-details/<%= user._id %>">Account Details</a></button>
    
    <button><a href="/user/balance/<%=user._id%>">Check Balance</a></button>

    <button><a href="/play-game">Play to Earn</a></button>

    
    
      <% } else { %>
      <button><a href="/user/login">LOGIN</a></button>
    <% } %>
  
</div><!-- End of #main-content -->

  