<form action="/user/reset-password-form" method="POST">
    <input type="email" name="email" placeholder="Enter email Id">
    <input type="password" name="password" placeholder="Enter new password">
    <input type="password" name="confirm_password" placeholder="Enter password again">

    <input type="submit">
</form>