
  <div id="main-content" class="container" style="width: 330px;">
   <!-- Default form register -->
<form class="text-center form-container border border-light p-5" action="/user/create" enctype="multipart/form-data" method="POST">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- name -->
            <input name = "name"type="text" id="defaultRegisterFormName" class="form-control" placeholder="Name" style="margin-top: 10px;margin-bottom: 20px;">
        </div>
        <div class="col">
            <!-- Email -->
            <input name = "email" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
        </div>
    </div>

    <!-- E-mail -->
    <input name = "password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password (At least 8 characters and 1 digit)" aria-describedby="defaultRegisterFormPasswordHelpBlock" style="margin-top: 20px;margin-bottom: 20px;">
    <!------<small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
  </small>--------->
    <!-- Password -->
    <input name = "confirm_password" type="password" id="defaultRegisterFormConfirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <!------GENDER-->
        <select name="gender" id="gender" class="form-control" style="margin-top: 20px;margin-bottom: 20px;">
            <option>Gender</option>
            <option>MALE</option>
            <option>FEMALE</option>
            <option>OTHER</option>
        </select>
    <!----------NATIONALITY--------->
    <input name = "nationality" type="text" id="defaultRegisterFormNationality" placeholder="Nationality" class="form-control" style="margin-top: 20px;margin-bottom: 20px;">
    <!--DOB-->
    <input name = "dob" type="date" id="datepicker" class="form-control" placeholder="Date-of-birth" style="margin-bottom: 20px;">
    <!---AADHAAR NUMBER-->
     <input name = "aadhar_number" type="text" id="defaultRegisterAadharNumber" class="form-control" placeholder="AADHAR NUMBER" aria-describedby="defaultRegisterFormPhoneHelpBlock" style="margin-top: 20px;margin-bottom: 20px;">
    <!-- Phone number -->
    <input name = "phone" type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number(Optional - for two step authentication)" aria-describedby="defaultRegisterFormPhoneHelpBlock" style="margin-top: 20px;margin-bottom: 10px;">
   <!---------- <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>    ------------>
    <!-- Newsletter -->

    <input type="file" name="avatar" placeholder="profile picture">

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

    <!-- Social register -->
    <p>or sign up with:</p>

    <a href = "/user/auth/google" class="mx-2" role="button"><i class="fa fa-facebook"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fa fa-twitter"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fa fa-linkedin"></i></a>
    <a href="/user/auth/google" class="mx-2" role="button"><i class="fa fa-google-plus"></i></a>
    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>
</form>
<!-- Default form register -->
  </div><!-- End of #main-content -->
  <script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>


