
  <div id="main-content" class="container">
    <div class="flex-container">
      <%- include('_aside'); %>

      <form action="/user/update-details/<%= user._id %>" method="POST">
        <h1>Update Details</h1>
          <input name = "email" type="email" placeholder="Enter New email Id">
          <input name = "phone" type="number" placeholder="Enter New Phone Number">

          <input type="submit">
      
      </form>
    </div>
  </div><!-- End of #main-content -->
