<div id="main-content" class="container">
    <h1>Withdraw Page</h1>
    
    <form action="/user/money/withdraw-money/<%= user._id %>" method="POST">
        
        <input name = "amount" type="number" placeholder="Enter amount">
        <input type="submit">
    
    </form>

</div>