<div>

    <p>Hi! <%= user.name %> </p>
    <br>
    <br>
    <p><strong> RESET PASSWORD LINK </strong> <a href="/localhost:8000/user/reset-password">Click here</a></p>
    <br>
    <br>
    <p>Thanks!</p>

</div>