<div>

    <p>Hi! <%= body.name %> </p>
    <br>
    <br>
    <p><strong> We have received your message.Thanks for contacting us!</strong></p>
    <br>
    <p><%= body.message %></p>
    <br>
    <p>Thanks!</p>

</div>