<div id="main-content" class="container">
    <div class="flex-container">
      
      <%- include('../_partials/_aside'); %>

    <div style="margin-left: 10px;">
      <h1>Balance Page</h1>
      <h4>Current Balance is <%= balance %> Rupees</h4>
    </div>
  
</div>
</div>