<div id="main-content" class="container">
    
    <div class="flex-container">
        <%- include('../_partials/_aside'); %>
        
        <form action="/user/money/withdraw-money/<%= user._id %>" method="POST" style="margin-left: 40px;">
            <h3>Withdraw Page</h3>
            <input class="inp" name = "amount" type="number" placeholder="Enter amount">
            <input class="inp" type="submit">
        
        </form>
    </div>
</div>