<div class="blogs-heading" id="blogs">
    <h1>BLOGS</h1>
  </div><hr class="divider">
  <div class="row">
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DANISH QUASIM</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
          <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HARSH GUPTA</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
          <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DANISH QUASIM</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
          <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HARSH GUPTA</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
          <!---<a href="#" class="btn btn-primary">Go somewhere</a>---->
          <hr class="visible-xs">
        </div>
      </div>
    </div>
  </div>
  <!------<div class="row">
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DANISH QUASIM</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
          -<a href="#" class="btn btn-primary">Go somewhere</a>
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HARSH GUPTA</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <hr class="visible-xs">
        </div>
      </div>
    </div>
  </div>---->
  <hr class="divider">