<!--<div class="blogs-heading" id="blogs">
    <h1>BLOGS</h1>
  </div><hr class="divider">
  <div class="row">
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DANISH QUASIM</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
          --<a href="#" class="btn btn-primary">Go somewhere</a>---
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HARSH GUPTA</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
          -<a href="#" class="btn btn-primary">Go somewhere</a>---
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DANISH QUASIM</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
          -<a href="#" class="btn btn-primary">Go somewhere</a>---
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HARSH GUPTA</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
          -<a href="#" class="btn btn-primary">Go somewhere</a>----
          <hr class="visible-xs">
        </div>
      </div>
    </div>
  </div>-->
    <!--<div class="row">
    <div class="col-sm-3" style="border-right: 0.2px solid;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">DANISH QUASIM</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger.</p>
          -<a href="#" class="btn btn-primary">Go somewhere</a>
          <hr class="visible-xs">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">HARSH GUPTA</h5>
          <p class="card-text">Bloggers saw themselves as gadflies, pricking the arrogance of established elites from their home computers, in their pyjamas, late into the night. So when, in 2005, Huffington decided to mobilise her fortune and media connections to create, from scratch, a flagship liberal blog she was roundly derided. Who, spluttered the original blogger</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
          <hr class="visible-xs">
        </div>
      </div>
    </div>
  </div>---->

  <div id="blogs" class="carousel slide" data-ride="carousel" style="margin: 1%;">
    <h1 class="blogs-heading">BLOGS</h1>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#blogs" data-slide-to="0" class="active"></li>
      <li data-target="#blogs" data-slide-to="1"></li>
      <li data-target="#blogs" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="flex-containerr">
          <div class="card blog-card hidden-sm-down">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">DANISH QUASIM/<h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card blog-card hidden-sm-down">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card blog-card hidden-md-down">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">DANISH QUASIM/<h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card blog-card hidden-md-down">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
        <div class="carousel-caption">
          <!---<h3>FIRST ADD</h3>
          <p>CREDIT CARD FREE</p>--->
        </div>
      </div>
      <div class="item">
        <div class="flex-containerr">
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">DANISH QUASIM/<h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the cJHGV
                HBHJBNM
                BHHJKJN
                ard's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">DANISH QUASIM/<h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
          </div>
        <div class="carousel-caption">
          <!---<h3>FIRST ADD</h3>
          <p>CREDIT CARD FREE</p>--->
        </div>
      </div>
      <div class="item">
        <div class="flex-containerr" alt="d_add">
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">DANISH QUASIM/<h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card blog-card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      
          </div>
        <div class="carousel-caption">
          <!---<h3>FIRST ADD</h3>
          <p>CREDIT CARD FREE</p>--->
        </div>
      </div>
    </div>
    
    <!-- Left and right controls 
    <a class="left carousel-control carousel-controll " href="#blogs" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-controll" href="#blogs" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>



  <hr class="divider">